.list {
  width: 900px;
  margin: 0 auto;
}

.checkBox {
  width: 100%;
}

.li_item .check {
  margin-right: 5px;
}

.delete_img {
  cursor: pointer;
}

.nodata {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 23px;
  color: #6fafeb;
}

.nodata svg {
  width: 110px;
  height: 100px;
}

.delete_btn {
  width: 150px;
  border-color: #ff98b9 !important;
  background: #ff98b9 !important;
}

.delete_btn:hover {
  border-color: #f04a7f !important;
  background: #f04a7f !important;
}